*,
*::before,
*::after {
    box-sizing: border-box;
}   
* {
    margin: 0;
    padding: 0;
}

body {
     background-image: url("Resources/stars 3.gif");
    font-family: 'Arial', sans-serif;
}


.logo  {
    filter: invert(1) drop-shadow(0px 0px 0.5em magenta) grayscale(.5);
    width: 100%;
    height: 100%;   
}

.title {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    /* BOX MODEL */
    width: 480px;
    height: 270px;
    margin-top: 40px;
    overflow: hidden;
}


ul {
  list-style-type: none;
  margin: 50px 300px;
  padding: 0;
  display: flex;
  justify-content:space-around;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.topnav {
  display: flex;  
  overflow: hidden;
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.topnav a {
  float: left;
  display: block;
  font-family: fantasy;
  color: #f2f2f2;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  font-weight: normal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  font-style: italic;
}

.topnav a.active {
  text-shadow:
  0px 0px 0.1em rgb(60, 0, 255),
  0px 0 1em #0077ff,
  0px 0 0.2em #35b1fe,
  0px 0px 0.1em rgb(60, 0, 255),
  -2px 0 1em #0077ff,
  -2px 0 0.2em #35b1fe,
  0px 0px 0.1em rgb(60, 0, 255),
  2px 0 1em #0077ff,
  2px 0 0.2em #35b1fe;
}

.topnav .icon {
  display: none;
}

.topnav2 {
  display: flex;  
  overflow: hidden;
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.topnav2 a {
  float: left;
  display: block;
  font-family: fantasy;
  color: #f2f2f2;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  font-weight: normal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav2 a:hover {
  font-style: italic;
}

.topnav2 a.active {
  text-shadow:
  0px 0px 0.1em rgb(60, 0, 255),
  0px 0 1em #0077ff,
  0px 0 0.2em #35b1fe,
  0px 0px 0.1em rgb(60, 0, 255),
  -2px 0 1em #0077ff,
  -2px 0 0.2em #35b1fe,
  0px 0px 0.1em rgb(60, 0, 255),
  2px 0 1em #0077ff,
  2px 0 0.2em #35b1fe;
}

.topnav2 {
  display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item iframe {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px .6em rgb(0, 191, 255)
}

.paperback {
    justify-content: center;
    align-items: center;        
    font-size: 1.2rem;
    background-image: url("paperback.jpg");
    font-family: fantasy;
    /* BOX MODEL */
    padding: 32px;
    border: 5px solid black;
    margin: auto 80px;
}

.waterback {
    justify-content: center;
    align-items: center;        
    color: white;
    background-image: url("pattern 238.gif");
    background-color: rgba(0, 0, 0, 0.2); 
    background-blend-mode: darken;
    font-family: fantasy;
    /* BOX MODEL */
    padding: 32px;
    border: 5px solid black;
    margin: auto 150px;
}
.waterback p {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px .5em rgb(0, 0, 0);
}

.waterback a:link {
  color: yellow;
}

/* visited link */
.waterback a:visited {
  color: yellow;
}

/* mouse over link */
.waterback a:hover {
  color: rgb(250, 138, 194);
  font-style: italic;
}

/* selected link */
.waterback a:active {
  color: blue;
}

/* .fa-instagram {
    color: yellow;
} */
/* .paperback p {
    font-size: 1.5rem;
}
.app-copy-button {
    display: inline-block;
    margin-left: 5px;
    background: #0B0C0C;
    font-family: fantasy;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px
}


.app-copy-button:hover {
    background-color: #444
}

.app-visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}
*/

.construction {
  display: flex;
  justify-content: center;
  align-items: center;      
}

@media screen and (max-width: 600px) {
    .logo {
        width: 70%;
        height: 70%;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav {
    display: none;
  }
  .topnav2 {
    display: flex;
}
}

@media screen and (min-width: 601px) {
  .topnav {
    display: flex;
  }
  .topnav2  {
    display: none;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .waterback {
    margin: auto 50px;
}
  .waterback p {
    font-size: 1rem;
  
  }
} 

