* {
  box-sizing: border-box;
}
/* Style the header */

.title {
  padding: 30px;
  font-family: fantasy;
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0054e6, 0 0 40px #0054e6, 0 0 50px #0054e6, 0 0 60px #0054e6, 0 0 70px #0054e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1cb2e8, 0 0 40px #1cb2e8, 0 0 50px #1cb2e8, 0 0 60px #1cb2e8, 0 0 70px #1cb2e8, 0 0 80px #1cb2e8;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0054e6, 0 0 40px #0054e6, 0 0 50px #0054e6, 0 0 60px #0054e6, 0 0 70px #0054e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1cb2e8, 0 0 40px #1cb2e8, 0 0 50px #1cb2e8, 0 0 60px #1cb2e8, 0 0 70px #1cb2e8, 0 0 80px #1cb2e8;
  }
}

.header {
  background-image: url('paper.jpg');
  padding: 1px 2px;  
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 18px;
}

.column {
  float: left;
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h3 {
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
  width: fit-content;
  margin: auto;
}

.image-link img {
  display: inline-block;
   width: fit-content;
}

h2 {
  font-family: fantasy;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

body { 
  background-image: url('Resources/stars 3.gif');
}

