* {
  box-sizing: border-box;
}

ul {
  font-size: 1.3vw;
  column-gap: 30px;
  list-style-type: none;
  margin-bottom: 10vh;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  border: 1px ridge #fefefe; /* The "box" border */
  background-color: #131313;
  box-shadow: 
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;;
  padding: .09em;          /* Space inside the box */
  margin-bottom: 10px;    /* Space between the boxes */
  border-radius: 40px;     /* Optional rounded corners */
}

li:hover {
  border: 1px groove #fefefe; /* The "box" border */
  box-shadow: 
  0px 0px 0.1em rgb(0, 72, 255),
  0 0 1em #00fff2,
  0 0 0.2em #8ea8e4;
  padding: .09em;          /* Space inside the box */
  margin-bottom: 10px;    /* Space between the boxes */
  border-radius: 40px;     /* Optional rounded corners */
}

li.active {
  box-shadow: 
  0px 0px 0.1em rgb(0, 72, 255),
  0 0 1em #00fff2,
  0 0 0.2em #8ea8e4;

}

ul li a {
  display: block;
  color: white;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  padding: 14px 6px;
  text-decoration: none;
}
ul li a.active {
  text-shadow:
  0px 0px 0.1em rgb(0, 72, 255),
  0 0 1em #00fff2,
  0 0 0.2em #8ea6e4;
}

ul li a:hover {
  text-shadow:
  0px 0px 0.1em rgb(0, 72, 255),
  0 0 1em #00fff2,
  0 0 0.2em #8ea6e4;
}


.header {
  text-align: center;
  font-size: 4vw;
  color: #fff;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  margin-bottom: -5vh;
}

a {
  font-weight: bold;
}

img {
   display: block;           /* Removes default inline spacing */
   margin: auto;             /* Centers the image within the container */
   width: 170px;          /* Ensures the GIF scales down if necessary */
   height: auto;             /* Maintains the aspect ratio */
   filter: drop-shadow(0px 0px 10px #e48ed2) grayscale(.5);
}



body {
  font-family: 'Arial', sans-serif;
  background-image: url("stars 3.gif");
  margin: 0;
  padding: 20px;
}

.masonry-grid {
  margin: auto;
  width: 90%;
  column-count: 2;
  column-gap: 30px;
}

.masonry-grid .masonry-item {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  break-inside: avoid;
  display: inline-block;
  background-color: #202020;
  box-shadow: 0 4px 8px #ff00cb;
}

.title {
   text-align: center;
  font-size: 4vw;
  color: #fff;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  margin-bottom: -5vh;
}

.paragraph-container {
  max-width: 90vw;
  margin: auto;
}
.paragraph {
   text-align: center;
  font-size: 1.2vw;
  color: #000000;
  background-color: rgb(31, 229, 255);
    padding: 20px;
  margin-bottom: -5vh;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 900px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .masonry-grid {
    column-count: 1;
  }
}

video {
  width: 100%;
  height: auto;
}


@media (max-width: 600px) {
  ul {
  font-size: 4vw;
}


}

@media (max-width: 1200px) {
  .header {
  text-align: center;
  font-size: 7vw;
  color: #fff;
  text-shadow:
  0px 0px 0.1em red,
  0 0 1em #ff00cb,
  0 0 0.2em #e48ed2;
  margin-bottom: 4vh;
}
}

